body {
  background: rgb(33, 33, 33);
  background-color: linear-gradient(
    to top,
    rgb(0, 0, 0) 1%,
    rgba(14, 0, 90, 0.493) 1%,
    transparent
  );
}

.Section {
  min-height: 100vh;
  padding: 5em;
  color: #fff;
  @media (max-width: $mobileXL-width) {
    padding: 5em 2em;
  }
}

section:nth-of-type(1) {
  background: #ab9932;
  animation: fadeBackground 200s linear infinite;

  /*80s linear infinite;*/
  animation-fill-mode: both;
  @media (max-width: $tabletPRO-width) {
    min-height: 80vh;
    padding: 2em 2em;
  }
}

section:nth-of-type(2) {
  background-color: black;
  min-height: 30vh;
}

section:nth-of-type(3) {
  min-height: 80vh;
  padding: 6em 0em;
  display: flex;
  flex-direction: column;
  background: #ab9932;
  animation: fadeBackgroundg 200s linear infinite;

  /*80s linear infinite;*/
  animation-fill-mode: both;
  @media (max-width: $tabletPRO-width) {
    min-height: 80vh;
    padding: 2em 2em;
  }
}

//  background: radial-gradient(circle, rgb(5, 28, 53) 4%, rgba(0, 0, 0, 1) 100%);

@keyframes fadeBackground {
  from {
    background-color: rgb(8, 6, 50);
    background-position: bottom right no-repeat;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 1%, transparent),
      radial-gradient(rgba(129, 129, 129, 0.15) 1px, transparent 100px),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(224, 224, 224, 0.06) 1px,

        transparent 80px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(200, 200, 200, 0.109) 1px,
        transparent 80px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(198, 198, 198, 0.073) 0.5px,
        transparent 50px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(185, 185, 185, 0.094) 0.5px,
        transparent 20px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(255, 249, 249, 0.313) 1px,
        transparent 2px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(171, 171, 171, 0.103) 1px,
        transparent 100px
      ),
      radial-gradient(rgba(177, 177, 177, 0.202) 0.5px, transparent 10px),
      radial-gradient(rgba(212, 212, 212, 0.151) 0.5px, transparent 40px);

    background-size: 1px 100%, 550px 550px, 3500px 3500px, 700px 700px,
      500px 500px, 500px 500px, 500px 500px, 500px 500px, 500px 500px,
      500px 500px;
    background-position: 0px 0px, 40px 1000px, 1000px 5000px, 1000px 5000px,
      10px 5000px, 200px 2000px, 20px 3000px, 90px 6000px, 10px 9000px,
      900px 7000px;
  }
  to {
    background-color: rgb(8, 6, 50);
    background-position: bottom right no-repeat;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 1%, transparent),
      radial-gradient(rgba(129, 129, 129, 0.15) 1px, transparent 100px),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(224, 224, 224, 0.06) 1px,

        transparent 80px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(200, 200, 200, 0.109) 1px,
        transparent 80px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(198, 198, 198, 0.073) 0.5px,
        transparent 50px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(185, 185, 185, 0.094) 0.5px,
        transparent 20px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(255, 249, 249, 0.313) 1px,
        transparent 2px
      ),
      radial-gradient(
        rgb(255, 255, 255),
        rgba(171, 171, 171, 0.103) 1px,
        transparent 100px
      ),
      radial-gradient(rgba(177, 177, 177, 0.202) 0.5px, transparent 10px),
      radial-gradient(rgba(212, 212, 212, 0.151) 0.5px, transparent 40px);

    background-size: 1px 100%, 550px 550px, 3500px 3500px, 700px 700px,
      500px 500px, 500px 500px, 500px 500px, 500px 500px, 500px 500px,
      500px 500px;
    background-position: 0px 0px, 40px 8000px, 1000px 7000px, 1000px 3000px,
      10px 8px, 200px 900px, 20px 7px, 90px 10px, 10px 900px, 900px 5000px;
  }
}
