@use "gradient";

body {
  background: rgb(33, 33, 33);
  background-color: linear-gradient(
    to top,
    rgb(0, 0, 0) 1%,
    rgba(14, 0, 90, 0.493) 1%,
    transparent
  );
}

.Section {
  min-height: 100vh;
  padding: 5em;
  color: #fff;
  @media (max-width: $mobileXL-width) {
    padding: 5em 2em;
  }
}

section:nth-of-type(1) {
  animation: homegradient 80s linear infinite;
  overflow: hidden;
  padding: 0em;

  /*80s linear infinite;*/
  animation-fill-mode: both;
  background: linear-gradient(black, rgb(8, 6, 50));
  @media (max-width: $tabletPRO-width) {
    min-height: 80vh;
    padding: 2em 2em;
  }
}

section:nth-of-type(2) {
  background: rgb(0, 0, 0);
  min-height: 30vh;
}

section:nth-of-type(3) {
  min-height: 80vh;
  padding: 6em 0em;
  display: flex;
  flex-direction: column;
  animation: footergradient 80s linear infinite;

  /*80s linear infinite;*/
  animation-fill-mode: both;
  animation-fill-mode: both;
  @media (max-width: $tabletPRO-width) {
    min-height: 80vh;
    padding: 2em 2em;
  }
}
