.footer {
  flex: 3;
  width: 100%;
  color: rgb(255, 255, 255);

  .footerbox {
    padding: 0em;
    text-align: center;
    display: block;
    margin: 0 auto;

    h2 {
      font-size: 1.3em;
      margin-bottom: 2em;
    }

    .line {
      border-top: 0.2em solid getColour(accent);
      width: 20%;
      margin: 0 auto;

      @media (max-width: $tabletPRO-width) {
        width: 70%;
      }

      @media (max-width: $mobile-width) {
        width: 100%;
      }
    }

    a {
      display: block;
      padding: 1em;
      color: white;
      font-size: 1em;
      text-decoration: none;
    }

    .mail {
      display: inline-block;
      height: 100%;

      span {
        font-size: 1em;
      }
    }

    ul {
      .name {
        font-size: 1.2em;
        font-style: normal;
      }
      li {
        list-style: none;
        line-height: 3em;
        font-size: 0.9em;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.copyright {
  flex: 1;
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  opacity: 60%;
}
