#section__contact {
  background-color: red;
}

.footer {
  padding-top: 3em;
  flex: 3;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 100vh;
  position: relative;
  z-index: 100;

  .footerbox {
    padding: 0em;
    text-align: center;
    display: block;
    margin: 0 auto;

    h2 {
      font-weight: bold;
      font-size: 1.5em;
      color: rgb(255, 255, 255);

      @media (max-width: $mobileXL-width) {
        font-size: 1.4em;
      }
    }

    .line {
      border-top: 0.2em solid getColour(accent);
      width: 20%;
      margin: 0 auto;

      @media (max-width: $tabletPRO-width) {
        width: 70%;
      }

      @media (max-width: $mobile-width) {
        width: 100%;
      }
    }

    a {
      display: block;
      padding: 1em;
      color: white;
      font-size: 1em;
      text-decoration: none;
      cursor: pointer;
    }

    .mail {
      display: inline-block;
      height: 100%;
      font-size: 1.2em;

      span {
        font-size: 1em;
        margin-left: 0.7em;
      }
    }

    a {
      color: white;
      cursor: pointer;
      pointer-events: auto;
      z-index: 120;

      span {
        margin-left: 0.7em;
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  flex: 1;
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  opacity: 60%;
}
