nav {
  position: fixed;
  width: 100%;
  text-align: right;
  color: white;
  z-index: 1;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.active {
  font-weight: bold;
  color: rgb(169, 173, 255);
}

nav > div {
  display: inline-block;
  padding: 1em 4em;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    color: rgb(169, 173, 255);
    text-decoration: underline;
  }

  @media (max-width: $mobile-width) {
    padding: 1em 1em;
  }
}
