h1 {
  font-size: 1.5em;
  line-height: 0em;
  font-family: $font-heading-one;

  @media (max-width: $tablet-width) {
    font-size: 1.6em;
  }
}

h2 {
  font-family: $font-heading-one;

  @media (max-width: $tablet-width) {
    font-size: 1.2em;
  }
}

p {
  line-height: 2em;
  font-size: 0.8em;
  font-family: $font-primary;

  @media (max-width: $mobile-width) {
    font-size: 0.9em;
  }
}
