.works {
  width: 100%;
  display: flex;
  row-gap: 6em;
  column-gap: 1em;
  color: rgb(255, 255, 255);
  background-color: red;
  justify-content: space-between;

  h2 {
    font-size: 1em;
  }
}

.button:nth-of-type(1) {
  align-content: flex-start;
}

.button:nth-of-type(2) {
  align-content: flex-end;
}

.card {
  width: 70%;
  border-radius: 0em 0em 1em 1em;

  @media (max-width: $tablet-width) {
    width: 90%;
  }

  @media (max-width: $mobileXL-width) {
    width: 100%;
  }

  p {
    line-height: 2em;

    span {
      margin-left: 0.2em;
      font-weight: bold;
    }
  }

  &__text {
    padding: 1em 3em;

    @media (max-width: $mobileXL-width) {
      padding: 2em;
    }
  }

  h2 {
    font-weight: bold;

    @media (max-width: $mobileXL-width) {
      margin-bottom: 3em;
    }
  }

  a {
    display: block;
    font-style: italic;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 0.9em;
    text-decoration: none;
    color: rgb(123, 123, 186);
    @media (max-width: $mobileXL-width) {
      margin-top: 2em;
    }
  }

  &__button {
    border: 0.1em solid rgb(169, 173, 255);
    display: inline-block;
    margin-top: 1em;
    padding: 1.2em 2em 1.2em 2em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0.3em;
    color: rgb(151, 140, 203);

    text-transform: lowercase;
  }

  img {
    width: 100%;
    border-radius: 1em;
  }
}
.modal {
  margin: 0 auto;
  border: none;
  width: 70%;
  height: 95vh;
  vertical-align: baseline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: auto;
  background-color: black;
  opacity: 100%;

  @media (max-width: $mobileXL-width) {
    max-height: calc(100vh - 100px);
    width: 70%;
  }

  .modalbox {
    text-align: left;
    margin: 0 auto;
    color: white;
    padding: 2em 0em 2em 0em;
    width: 70%;
    background-color: black;
    text-align: center;
    img {
      width: 100%;
      text-align: center;
      padding-bottom: 3em;
    }

    .modallinks {
      margin-top: 2em;
      a {
        display: block;
        font-style: italic;
        margin-bottom: 1em;
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    }
  }
}
